:root {
  --color-primary: theme("colors.zinc.500");
  --color-secondary: theme("colors.rose.800");
  --color-text: theme("colors.zinc.900");
  --color-text-offset: theme("colors.zinc.600");
  --color-background: theme("colors.zinc.50");
  --color-background-offset: theme("colors.zinc.50");
  --color-border: rgb(17 24 39/0.1); /* gray.900 */
}
