---
const { title, id } = Astro.props;
---

<section {id} class="flex flex-col gap-4 space-y-4 scroll-mt-24">
  <div class="flex flex-col gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-6xl font-bold tracking-tight text-center text-amber-900"
    >
      {title}
    </h2>
  </div>
  <p class="max-w-lg text-2xl font-bold">
    <slot name="lead" />
  </p>
  <slot />
</section>
