---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";


---

<ContentSection title="Location" id="location">
    <div class="flex gap-4 place-items-center">
        <Icon class="h-12 text-zinc-700" name="mdi:clock-time-four-outline" />
        <p class="text-zinc-700 text-xl font-bold">Saturday, August 27th, 2022<span class="text-zinc-600"> » 4:00pm</span></p>
    </div>
    <div class="flex gap-4 place-items-center text-zinc-700">
        <Icon class="h-12" name="mdi:home-map-marker" />
        <p class="text-xl font-bold"><a href="https://goo.gl/maps/abdAEAbadS6udNUR8" class="underline" target="_blank">62 Barkers Mill Rd. Hackettstown NJ, 07840</a></p>
    </div>
</ContentSection>
