---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";


---

<ContentSection title="Location" id="location">
    <div class="flex gap-4 place-items-center">
        <Icon class="h-6 text-zinc-700" name="mdi:clock-time-four-outline" />
        <p class="text-zinc-700 text-sm">Saturday, August 27th, 2022<span class="text-zinc-600"> » 4:00pm</span></p>
    </div>
    <div class="flex gap-4 place-items-center text-zinc-700">
        <Icon class="h-6" name="mdi:home-map-marker" />
        <p class="text-sm"><a href="https://goo.gl/maps/abdAEAbadS6udNUR8" class="underline" target="_blank">62 Barkers Mill Rd. Hackettstown NJ, 07840</a></p>
    </div>
    <div class="flex gap-4 place-items-center text-zinc-700">
        <Icon class="h-6" name="mdi:bell-sleep" />
        <p class="text-sm"><a href="https://www.choicehotels.com/new-jersey/hackettstown/quality-inn-hotels/nj164" class="underline" target="_blank">Quality Inn Hackettstown</a> — <a href="https://www.google.com/maps/dir/62+Barkers+Mill+Rd,+Hackettstown,+NJ+07840-4713,+USA/Quality+Inn+Hackettstown+-+Long+Valley,+1925+NJ-57,+Hackettstown,+NJ+07840/@40.8369045,-74.8798972,13.92z/data=!4m14!4m13!1m5!1m1!1s0x89c38146c7cc6e29:0xe8168c42c563486c!2m2!1d-74.8933131!2d40.8550711!1m5!1m1!1s0x89c384653e15e861:0xffa6e2c68368f9c0!2m2!1d-74.8374169!2d40.8224543!3e0" class="underline" target="_blank">Directions</a></p>
    </div>
    <div class="flex gap-4 place-items-center text-zinc-700">
        <Icon class="h-6" name="mdi:web" />
        <p class="text-sm"><a href="https://partiful.com/events/FKzjtEeJ9wq6uX7ebtzP" class="underline" target="_blank">Partiful Event page</a> for commenting and uploading photos</p>
    </div>
</ContentSection>
